.c-footer {
  padding: 5rem 0 3.188rem;

  @media(min-width: $media-query-desktop-low) {
    padding: 5.688rem 0 2.5rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 251px;
    margin: 0 auto;

    @media(min-width: $media-query-desktop-low) {
      flex-direction: row;
      justify-content: space-between;
      max-width: none;
      align-items: flex-start;
      gap: 9.688rem;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: $media-query-desktop-low) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__col--info {
    @media(min-width: $media-query-desktop-low) {
      max-width: 200px;
    }

    .c-footer__desc {
      margin-top: 1rem;

      @media(min-width: $media-query-desktop-low) {
        text-align: left;
      }
    }

    .c-footer__infos-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.875rem;

      @media(min-width: $media-query-desktop-low) {
        justify-content: flex-start;
      }

      .c-footer__infos-link {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .c-footer__infos {
      margin-top: 1.875rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

  }

  &__col--menu {
    .c-footer__title {
      @media(min-width: $media-query-desktop-low) {
        text-align: left;
      }

    }

    .c-footer__menu {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      @media(min-width: $media-query-desktop-low) {
        align-items: flex-start;
      }

      .menu-item {
        a {
          color: var(--preto-400, #414B6C);
          text-align: center;
          font-family: var(--font-family-Font-1, Inter);
          font-size: var(--font-size-14, 14px);
          font-style: normal;
          font-weight: var(--font-weight-400, 400);
          line-height: var(--opacity-20, 20px);

          @media(min-width: $media-query-desktop-low) {
            text-align: left;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__col--cta {
    @media(min-width: $media-query-desktop-low) {
      max-width: 251px;
    }

    .c-footer__title {
      margin-bottom: 1rem;

      @media(min-width: $media-query-desktop-low) {
        text-align: left;
      }
    }

    .c-footer__cta-desc {
      @media(min-width: $media-query-desktop-low) {
        text-align: left;
      }
    }

    .c-footer__cta-action {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @media(min-width: $media-query-desktop-low) {
        justify-content: flex-start;
      }

      .button {
        color: var(--www-tidio-com-white, var(--color-white-solid, #FFF));
        font-family: var(--font-family-Font-1, Inter);
        font-size: var(--font-size-14, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--opacity-20, 20px);
        /* 142.857% */

        display: flex;
        height: 38px;
        padding: 9px 21px;
        flex-direction: column;
        align-items: flex-start;

        border-radius: 600px;
        border: var(--stroke-weight-1, 1px) solid var(--Azul-2-500, #4353FA);
        background: var(--Azul-2-500, #4353FA);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

        &:hover {
          background-color: transparent;
          border-color: var(--Azul-2-100, #D9DDFE);
          color: var(--Azul-2-500, #4353FA);
        }
      }
    }

    .c-footer__social {
      margin-top: 3.438rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @media(min-width: $media-query-desktop-low) {
        justify-content: flex-start;
      }

      .c-footer__social-link {
        svg {
          circle {
            transition: all .3s ease;
          }

          path {
            transition: all .3s ease;
          }
        }

        &:hover {
          svg {
            circle {
              stroke: #4353FA;
              fill: #4353FA;
            }

            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .c-footer__bottom {
    margin-top: 2.188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.625rem;


    @media(min-width: $media-query-desktop-low) {
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid rgba(160, 165, 181, 0.30);
      padding-top: 3rem;
      margin-top: 3rem;
    }

    .c-footer__copy,
    .c-footer__upsites {
      color: rgba(0, 0, 0, 0.70);
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      /* 18.2px */
    }
  }
}