.button {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 21px */
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 600px;
  border: var(--stroke-weight-1, 1px) solid transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all .3s ease;
  max-width: max-content;

  @media(min-widht: $media-query-desktop) {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
  }

  &-border {
    &__white {
      border-color: #fff;
      color: #fff;
    }

    &__blue {
      border-color: var(--Azul-2-100, #D9DDFE);
      color: var(--Azul-2-500, #4353FA);

      &:hover {
        background-color: var(--Azul-2-500, #4353FA);
        color: #fff;
      }
    }

  }

  &__blue {
    background-color: var(--Azul-2-500, #4353FA);
    color: #fff;

    &:hover {
      background-color: transparent;
      border-color: var(--Azul-2-100, #D9DDFE);
      color: var(--Azul-2-500, #4353FA);
    }
  }


}