// contextual variables
// --------------------
$media-query-mobile: 360px;
$media-query-tablet: 720px;
$media-query-desktop: 1280px;
$media-query-desktop-low: 1024px;
$media-query-desktop-high: 1440px;

$container-tablet: 640px;
$container-desktop: 1217px;
$container-desktop-low: 1000px;

$columns: 12;
$gutter: 16px;
$gutter-no: 0;