// ==== HEADINGS ====
$heading-large: 80px; // Inter Semi Bold
$heading-medium: 48px; // Inter Regular
$heading-small: 28px; // Inter Semi Bold
$heading-xsmall: 20px; // Inter Semi Bold

// ==== BODY ====
$body-eyebrow: 16px; // Inter Semi Bold
$body-text-large: 18px; // Inter Regular
$body-label: 18px; // Inter Semi Bold
$body-nav-link: 18px; // Inter Regular
$body-link-small: 14px; // Inter Semi Bold
$body-footer-link: 16px; // Inter Regular
$body-text-medium: 16px; // Inter Regular