.o-header {
  position: fixed;
  width: 100%;
  z-index: 999;


  &.active {
    box-shadow: 0px 4px 16px rgba(13, 34, 63, 0.1);
    background-color: $white;

    .s-container--header {
      padding-top: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
    gap: 4rem;

    @media(min-width: $media-query-desktop-low) {
      padding: 1.375rem 0;
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;
      z-index: 1;
    }

    .button__blue {
      color: var(--www-tidio-com-white, var(--color-white-solid, #FFF));
      font-family: var(--font-family-Font-1, Inter);
      font-size: var(--font-size-14, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--opacity-20, 20px);
      /* 142.857% */
      display: flex;
      height: 38px;
      padding: 9px 21px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 600px;
      border: var(--stroke-weight-1, 1px) solid var(--Azul-2-500, #4353FA);
      background: var(--Azul-2-500, #4353FA);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .button-border__white {
      color: var(--Azul-2-500, #4353FA);

      /* dub.co/Inter/Regular */
      font-family: var(--font-family-Font-1, Inter);
      font-size: var(--font-size-14, 14px);
      font-style: normal;
      font-weight: var(--font-weight-400, 400);
      line-height: var(--opacity-20, 20px);
      /* 142.857% */
      display: flex;
      height: 38px;
      padding: 9px 21px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 600px;
      border: var(--stroke-weight-1, 1px) solid var(--Azul-2-100, #D9DDFE);
      background: #FFF;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .header__desk {
      display: none;

      @media(min-width: $media-query-desktop-low) {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }

    .header__mobile {
      display: flex;
      align-items: center;
      gap: 18px;

      @media(min-width: $media-query-desktop-low) {
        display: none;
      }
    }

    .logo {
      @media(min-width: 1280px) {
        flex: 172px 0 0;
      }

      svg {
        width: auto;
        height: 46px;

        @media(min-width: 1280px) {
          width: 100%;
          height: 50px;
        }
      }
    }

    .hamburguer-menu {
      @media(min-width: $media-query-desktop-low) {
        display: none;
      }

    }

    .menu {
      display: none;

      @media(min-width: $media-query-desktop-low) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3.5rem;
        width: 100%;
      }

      .c-main-menu__list {

        .menu-item {

          &.menu-item-has-children {
            .c-main-menu__item-head {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: .5rem;
            }

            .c-main-menu__link {
              position: relative;
              z-index: 2;
            }

            .c-main-menu__dropdown {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transition: opacity .3s ease;

              .c-main-menu__sub-menu--grid {
                @extend .s-container;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
                margin-top: 87px;
                padding: 2.5rem;
                background: white;
                border-radius: 20px;
                border: 1px solid #EFEFEF;
                box-shadow: 0px 28px 24px -8px rgba(84, 95, 105, 0.1);
                justify-content: space-between;

                @media(min-width: $media-query-desktop) {
                  grid-template-columns: repeat(3, 347px);
                }
              }

              .c-main-menu__sub-item {
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: -13%;
                  width: 1px;
                  height: 100%;
                  background-color: #EFEFEF;
                  display: none;

                  @media(min-width: $media-query-desktop) {
                    display: block;
                  }
                }
              }

              .c-main-menu__sub-menu {

                .menu-item:hover,
                .current-menu-item {
                  .c-main-menu__card-title {
                    font-weight: 600;
                  }
                }
              }

              .c-main-menu__card {
                display: flex;
                align-items: center;
                gap: 1rem;

                @media (min-width: $media-query-desktop-low) {
                  align-items: flex-start;
                }

                .c-main-menu__card-body {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                }

                .c-main-menu__card-title {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 150%;
                  leading-trim: both;
                  text-edge: cap;
                  color: #132728;
                  margin-bottom: .5rem;
                }

                .c-main-menu__card-desc {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 150%;
                  leading-trim: both;
                  text-edge: cap;
                  color: #4B4B4B;
                  display: inline-block;
                  margin-bottom: 1rem;
                }

                .c-main-menu__card-media {
                  aspect-ratio: 1 / 1;
                  flex: 67px 0 0;
                  margin-top: .5rem;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }

            }

            &:hover,
            &:focus-within {
              .c-main-menu__dropdown {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }
          }

        }
      }
    }
  }
}