.menu {
  .c-main-menu__list {

    .menu-item {

      &.menu-item-has-children {
        .c-main-menu__item-head {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;
        }

        .c-main-menu__link {
          position: relative;
          z-index: 2;
        }

        .c-main-menu__dropdown {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity .3s ease;

          .c-mega {
            @extend .s-container;
            display: grid;
            margin-top: 87px;
            padding: 1.25rem;
            border-radius: 16px;
            border: 1px solid #DEEAED;
            background: #F1F2FF;
            box-sizing: border-box;
            box-shadow: 0px 28px 24px -8px rgba(84, 95, 105, 0.1);

            &--banner {
              gap: .5rem;

              @media(min-width: $media-query-desktop) {
                grid-template-columns: 44.137931034483% 30.689655172414% 23.793103448276%;
              }
            }

            &--submenu-tabs {
              gap: .5rem;

              @media(min-width: $media-query-desktop) {
                grid-template-columns: 26.959517657192% 44.099913867356% 27.562446167097%;
              }
            }
          }
        }

        .c-mega__banner {
          background-color: $white;
          border-radius: 12px;
          display: flex;
          padding: 1rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          align-self: stretch;
          height: 100%;

          .c-mega__banner-body {
            padding: 0 1.5rem;
          }
        }

        .c-mega__banner-title {
          color: var(--preto-500, #111E47);

          /* 16/semi */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: var(--opacity-20, 20px);
          /* 125% */
        }

        .c-mega__banner-desc {
          color: var(--preto-400, #414B6C);

          /* 14/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          /* 22.4px */
          margin-top: 1rem;
        }

        .c-mega__banner-actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: .5rem;
          margin-top: 1.5rem;
        }

        .c-mega__banner-btn {
          display: flex;
          padding: 9px 21px;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 600px;
          border: var(--stroke-weight-1, 1px) solid var(--Azul-2-500, #4353FA);
          background: var(--Azul-2-500, #4353FA);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          color: var(--www-tidio-com-white, var(--color-white-solid, #FFF));
          font-size: var(--font-size-14, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--opacity-20, 20px);
          /* 142.857% */
        }

        .c-mega__banner-btn--secondary {
          background-color: transparent;
          color: var(--Azul-2-500, #4353FA);
          border: var(--stroke-weight-1, 1px) solid var(--Azul-2-100, #D9DDFE);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }

        .c-mega__list {
          display: grid;
          gap: 4px;
          height: max-content;
        }

        .c-mega__list-link {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background: #FFF;
          display: flex;
          padding: 13px 36px;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
          transition: background .3s ease;

          .c-mega__list-icon {
            width: 24px;
            height: 24px;

            img,
            svg {
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            background: var(--Azul-2-500, #4353FA);

            .c-mega__list-text {
              color: $white;
            }

            .c-mega__list-icon {

              svg {
                path {
                  stroke: $white;
                }
              }
            }
          }
        }

        .c-mega__list-text {
          color: var(--preto-400, #414B6C);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* 19.6px */
          max-width: calc(100% - 92px);
          transition: color .3s ease;
          display: flex;
          align-items: center;
          height: 100%;
        }

        .c-mega__case {
          padding: 1.5rem;
          border-radius: 12px;
          background: var(--preto-400, #414B6C);
          height: 100%;


          .c-mega__case-bg {
            position: relative;

            .c-mega__case-logo {
              position: absolute;
              left: 5.5px;
              bottom: 12px;
              border-radius: 12.114px;
              width: 112.058px;
              height: 45.429px;
              overflow: hidden;
            }
          }

          .c-mega__case-title {
            color: #FFF;
            font-family: var(--font-family-Font-1, Inter);
            font-size: 16px;
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--opacity-20, 20px);
            /* 125% */
            margin-top: 1rem;
          }

          .c-mega__case-desc {
            color: #FFF;

            /* dub.co/Inter/Regular */
            font-family: var(--font-family-Font-1, Inter);
            font-size: var(--font-size-12, 12px);
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--line-height-16, 16px);
            /* 133.333% */
          }

          .c-mega__case-stat {
            border-radius: 5.674px;
            border: 0.709px solid var(--Azul-1-300, #A3D2E0);
            background: #F7FCFD;
            padding: 12px;
            margin: 1rem 0 0;
          }

          .c-mega__case-stat-top {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-bottom: 4px;
          }

          .c-mega__case-stat-num {
            color: #414B6C;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            /* 33.6px */
            letter-spacing: -0.48px;
          }

          .c-mega__case-stat-desc {
            color: var(--preto-400, #414B6C);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 16.8px */
            display: block;
          }


          .c-mega__case-actions {
            margin-top: 1rem;
          }

          .c-mega__case-btn {
            display: flex;
            padding: 9px 21px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 600px;
            border: var(--stroke-weight-1, 1px) solid rgba(217, 221, 254, 0.30);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            color: #FFF;
            font-family: var(--font-family-Font-1, Inter);
            font-size: var(--font-size-14, 14px);
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--opacity-20, 20px);
            /* 142.857% */
            max-width: max-content;
          }

          &.c-mega__case--alt {
            .c-mega__case-stat {
              border-radius: 5.674px;
              background: rgba(17, 30, 71, 0.30);
              border: none;

            }

            .c-mega__case-stat-num {
              color: $white;
            }

            .c-mega__case-stat-desc {
              color: rgba(255, 255, 255, 0.60);
            }
          }
        }

        .c-mega__list-groups {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: .75rem;

          .c-mega__group {
            background-color: $white;
            border-radius: 12px;
            border: 1px solid #DEEAED;
            padding: 1.5rem 1rem 1rem;
            display: flex;
            flex-direction: column;

            .c-mega__group-title {
              color: var(--preto-500, #111E47);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: var(--opacity-20, 20px);
              margin-bottom: 1rem;
            }

            .c-mega__group-items {
              display: grid;
              gap: 4px;
              height: 100%;

              .c-mega__group-item {
                .c-mega__group-link {
                  border-radius: 8px;
                  background: #F1F2FF;
                  display: flex;
                  padding: 12px 16px;
                  justify-content: flex-start;
                  flex-direction: row;
                  align-items: center;
                  gap: 16px;
                  align-self: stretch;
                  color: var(--preto-400, #414B6C);
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  height: 100%;

                  /* 19.6px */
                  .c-mega__list-icon {
                    width: 24px;
                    height: 24px;
                    flex: 24px 0 0;

                    img,
                    svg {
                      width: 24px;
                      height: 24px;
                    }
                  }

                  &:hover {
                    background: var(--Azul-2-500, #4353FA);
                    color: $white;

                    .c-mega__list-icon {
                      svg {
                        path {
                          stroke: $white;
                        }
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }

      .c-mega__group--client-intro {
        .c-mega__client-icon {
          margin-bottom: 4rem;
        }

        .c-mega__client-title {
          color: var(--preto-500, #111E47);

          /* 32/semi */
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          /* 44.8px */
        }

        .c-mega__client-desc {
          color: var(--preto-400, #414B6C);

          /* 20/regular */
          font-family: Inter;
          font-size: var(--opacity-20, 20px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--line-height-28, 28px);
          /* 140% */
        }

        .c-mega__client-actions {
          margin-top: 2.938rem;
        }
      }

      .c-mega__group--client-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .c-mega__client-card-body {
          margin: 1.813rem 0;
        }

        .c-mega__client-card-media {
          img {
            width: 100%;
          }
        }

        .c-mega__client-card-title {
          color: var(--preto-500, #111E47);

          /* 16/semi */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: var(--opacity-20, 20px);
          /* 125% */
          margin-bottom: 1rem;
        }

        .c-mega__client-card-desc {
          color: var(--preto-400, #414B6C);

          /* 14/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          /* 22.4px */
        }

        .button {
          padding: 9px 21px;
        }
      }

    }
  }
}