.c-main-menu__list {
  &#menu-principal-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    .menu-item {
      width: 100%;

      .c-main-menu__link {
        color: var(--preto-400, #414B6C);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 25.6px */
      }

      &.current_page_item .c-main-menu__link,
      &.current-menu-item .c-main-menu__link,
      &.current_page_ancestor .c-main-menu__link,
      &.current-menu-parent .c-main-menu__link {
        font-weight: 600;
        color: #132728;
      }

      &.menu-item-has-children {
        .c-main-menu__item-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: .5rem;
        }

        .c-main-menu__link {
          position: relative;
          z-index: 2;
        }

        .c-submenu-trigger-wrapper {
          display: none;
        }

        &.is-open {
          .c-submenu-trigger-wrapper {
            display: block;
          }
        }

        .c-main-menu__sub-menu--grid {
          padding: 1rem 0;
          margin: 1.5rem 0;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          border-top: 1px solid #E0F0F5;
          border-bottom: 1px solid #E0F0F5;
        }

        .c-main-menu__sub-menu {

          .sub-menu-item {
            color: var(--Azul-2-500, #4353FA);
            text-align: center;
            font-family: var(--font-family-Font-1, Inter);
            font-size: 16px;
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--opacity-20, 20px);
            /* 125% */
          }

          .menu-item:hover,
          .current-menu-item {
            .c-main-menu__card-title {
              font-weight: 600;
              color: #132728;
            }
          }
        }

      }
    }
  }

}