.c-main-menu__list {
  &#menu-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @media (min-width: $media-query-desktop-low) {
      flex-direction: row;
      gap: 4.25rem;
    }

    .menu-item {
      .c-main-menu__link {
        color: var(--preto-400, #414B6C);
        text-align: center;

        /* 14/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 22.4px */
        position: relative;
        z-index: 2;

        /* Linha animada */
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          left: 50%;
          width: 0%;
          height: 2px;
          border-radius: 8px;
          background-color: #AED3E5;
          transition: width .3s ease, left .3s ease;
        }
      }

      &:hover .c-main-menu__link::after {
        width: 100%;
        left: 0;
      }

      /* Página atual */
      &.current_page_item .c-main-menu__link,
      &.current-menu-item .c-main-menu__link,
      &.current_page_ancestor .c-main-menu__link,
      &.current-menu-parent .c-main-menu__link {
        color: #132728;
      }

      &.current_page_item .c-main-menu__link::after,
      &.current-menu-item .c-main-menu__link::after,
      &.current_page_ancestor .c-main-menu__link::after,
      &.current-menu-parent .c-main-menu__link::after {
        width: 100%;
        left: 0;
      }
    }
  }
}