.o-product-features-grid {
  padding: 5.938rem 0 0;
  border-bottom: 1px solid #D0D5E3;

  &__header {
    position: relative;
    padding-bottom: 4.438rem;
    border-bottom: 1px solid #D0D5E3;

    .subtitulo {
      margin: 0 auto;
    }

    .title__normal {
      margin: 1.5rem 0;
    }

    .s-container {
      @media(min-width: $media-query-desktop-low) {
        max-width: 670px;
        margin: 0 auto;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 2.25rem;

    @media(min-width: $media-query-desktop-low) {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .o-product-feature-item {
    padding: 4.313rem 2.5rem 2.5rem;
    border-bottom: 1px solid #D0D5E3;

    @media(min-width: $media-query-desktop-low) {
      border-right: 1px solid #D0D5E3;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    &:nth-last-child(-n+3) {
      border-bottom: none;
    }

    .o-product-feature-item__image {
      background-color: #E0F0F5;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 237px;
      border-radius: 24px;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
    }


    .o-product-feature-item__title {
      color: var(--preto-500, #111E47);

      /* 20/semi */
      font-family: Inter;
      font-size: var(--opacity-20, 20px);
      font-style: normal;
      font-weight: 600;
      line-height: var(--line-height-28, 28px);
      /* 140% */
      margin-bottom: .75rem;
    }

    .o-product-feature-item__text {
      margin-bottom: 2.25rem;

      p {
        color: var(--preto-400, #414B6C);

        /* 14/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 22.4px */
      }
    }

  }


  .arrow-down-section {
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 20px 40px 0 rgba(77, 97, 172, 0.20);
    border-radius: 999px;
    display: none;

    @media(min-width: $media-query-desktop-low) {
      display: block;
    }
  }
}