.o-product-security {
  padding: 3rem 0;
  border-bottom: 1px solid #D0D5E3;

  @media(min-width: $media-query-desktop-low) {
    padding: 4.688rem 0 8.563rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: $media-query-desktop-low) {
      align-items: flex-start;
    }
  }

  &__top {
    margin-bottom: 2rem;

    @media(min-width: $media-query-desktop-low) {
      display: grid;
      grid-template-columns: 38.607594936709% 51.344936708861%;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
      margin-bottom: 0;
    }
  }

  .subtitulo {
    margin: 0 auto;

    @media(min-width: $media-query-desktop-low) {
      margin: 0;
    }
  }

  &__title {
    margin: 1.5rem 0 1rem;

    @media(min-width: $media-query-desktop-low) {
      text-align: left;
    }
  }

  &__desc {
    margin-bottom: 1.5rem;

    @media(min-width: $media-query-desktop-low) {
      text-align: left;
    }
  }

  .o-product-security__bullets {
    display: grid;
    gap: 1.5rem;

    .o-product-security__bullet {
      border-bottom: 1px solid #E0F0F5;
      padding-bottom: 1.5rem;

      &:last-child {
        border-bottom: none;
      }
    }

    .c-feature__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 0.75rem;
    }

    .c-feature__icon {
      flex: 24px 0 0;
    }

    .o-product-security__bullet-title {
      color: var(--preto-500, #111E47);

      /* 16/semi */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: var(--opacity-20, 20px);
      /* 125% */
    }

    .o-product-security__bullet-text {
      color: var(--preto-400, #414B6C);

      /* 16/regular */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      /* 22.4px */
    }
  }
}